{{ $headerGroups := slice }}
{{ $style_srcs := slice `'self'` `'unsafe-inline'` }}
{{ $CSP := `
default-src: 
  - self
style-src:
  - self
style-src-attr:
  - self
  - unsafe-inline
script-src: 
  - self
  - unsafe-eval
  - https://cdn.usefathom.com 
  - https://identity.netlify.com 
  - https://unpkg.com
prefetch-src: 
  - https://thenewdynamic.imgix.net
object-src: 
  - none
img-src: 
  - self 
  - https://thenewdynamic.imgix.net 
  - https://img3.usefathom.com
font-src: 
  - self
base-uri: 
  - none
connect-src: 
  - self
  - https://cdn.usefathom.com
  ` | transform.Unmarshal }}
{{ $asset_script_src := slice }}
{{ with partialCached "func/GetStyleAssets" . "GetStyleAssets" }}
  {{/* Remove X from critical when we're ready to get back to this */}}
  {{ with where . "type" "critical" }}
    {{ $styles := dict "target" "/*" }}
    {{ $headers := slice }}
    {{ range . }}
      {{ $style := .style | minify }}
      {{ $sha := printf `'sha256-%s'` (sha256 $style.Content | base64Encode) }}
      {{ $asset_script_src = $asset_script_src | append $sha }}
    {{ end }}
  {{ end }}
{{ end }}
{{ $CSP = merge $CSP (dict "style-src" (append (index $CSP "style-src") $asset_script_src)) }}
{{ $CSP_header := dict "target" "/*" "headers" (slice (dict "field" "Content-Security-Policy" "value" $CSP)) }}
{{ return slice $CSP_header }}
