{{ with .block }}
  <section class="pb-24 text-gray-700 body-font">
    <h3 class="my-8 text-3xl">{{ .title }}</h3>
    {{range $i, $box := .boxes }}
      {{ $position := sub 1 (mod $i 2) }}
      <div class="flex-wrap mb-16 sm:flex">
        <div class="w-full sm:w-1/2 order-{{ $position }}">
          <div class="py-4 text-lg text-gray-500 sm:px-4 lg:px-16 lg:py-12">
            {{ with .title }}
              <h3 class="pb-4 text-4xl font-bold leading-none text-black">{{.}}</h3>
            {{ end }}
            {{ with .body }}
              {{ . | markdownify }}
            {{ end }}
          </div>
        </div>
        <div class="w-full sm:w-1/2 sm:mb-0">
          <div class="sm:p-2">
            {{ with .image }}
              <img data-src="{{.}}" alt="work image" class="border lazyload" >
            {{ end }}
          </div>
        </div>
      </div>
    {{ end }}
  </section>
{{ end }}