{{ with .block }}
<div class="grid-cols-2 gap-12 sm:grid lg:grid-cols-3">
  {{ range .repos }}
    <a href="{{ .url }}" class="relative block px-4 py-2 pb-12 mb-8 text-base shadow-md sm:mb-0 bg-cool-gray-100 hover:shadow-none">
      {{ with .status }}
      <div class="flex items-center justify-end">
          <div class="text-xs text-red-500">
            {{ . }}
          </div>
      </div>
      {{ end }}
      <h2 class="my-2 text-2xl font-bold leading-tight md:text-3xl">{{ .title }}</h2>
      {{ with .body }}
        <div class="text-gray-600">
          {{ . | markdownify }}
        </div>
      {{ end }}
      <div class="absolute bottom-0 left-0 flex items-center justify-between w-full px-4 pb-2 mt-2">
        <div class="text-xs text-gray-500">
          {{ with .types }}
          {{ delimit . ", " }}
          {{ end }}
        </div>
        <div class="w-4 fill-current">
          {{ partial "svg/github-brands.svg" . }}
        </div>
      </div>
    </a>
  {{ end }}
  </div>
{{ end }}
