{{ $styles := partialCached "func/GetStyleAssets" . "GetStyleAssets" }}
{{ range where $styles "type" "==" "critical" }}
  {{ with .style }}
    <style>{{ .Content | safeCSS }}</style>
  {{ end }}
{{ end }}
{{ range where $styles "type" "!=" "critical" }}
  {{ with .style }}
    <link 
      rel="stylesheet" 
      href="{{ .RelPermalink }}"
      {{ with .Data.Integrity }}
      integrity="{{ . }}"
      {{ end }}
    >
  {{ end }}
{{ end }}
{{ range resources.Match "fonts/**/*.woff*" }}
{{ $tag_data := dict "name" "link" "attr" (dict "href" .RelPermalink "rel" "prefetch" "as" "font" "crossorigin" "") }}
{{ partialCached "tnd-tags/tag" $tag_data $tag_data }}
{{ end }}