body.theme-alt .text-theme {
	@apply text-white;
}
body.theme-alt .bg-map {
	@apply bg-gradient-tr-primary;
	background-image: url(../images/map-alt.svg);
}
body.theme-alt .text-theme-primary {
	@apply text-tertiary-500;
}


/* todo: do this */
body.theme-alt .bg-theme {
	background: url(../images/map-alt.svg),
		linear-gradient(
			52deg,
			#410252 0%,
			#63004c 16%,
			#810045 33%,
			#9f003e 50%,
			#bc0435 66%,
			#ae0c40 83%,
			#980a38 100%
		);
}

body.theme-alt .bg-themeTK {
	background: url(../images/map-alt.svg),
		linear-gradient(
			52deg,
			#410252 0%,
			#63004c,
			16%,
			#810045 33%,
			#9f003e 50%,
			#bc0435 66%,
			#da0c2b 83%,
			#f8141d 100%
		);
}
