{{ $src := false }}
{{ $title := false }}
{{ $alt := false }}
{{ with .Destination }}
  {{ $src = . }}
  {{ $transArgs := dict "path" . "width" 800 }}
  {{ with partialCached "huge/media/Get" $transArgs $transArgs }}
    {{ $src = .RelPermalink }}
  {{ end }}
  {{ with $.Title }}
    {{ $title = . }}
  {{ end }}
  {{ with $.Text }}
    {{ $alt = . }}
  {{ end }}
{{ end }}
<img 
  src="{{ $src }}"
  {{ with $alt }}
    alt="{{ . }}"
  {{ end }}
  {{ with $title }}
    title="{{ . }}"
  {{ end }}
/>
