{{ define "main" }}
  <div class="container max-w-5xl min-h-screen mx-auto">
    {{ partial "page-header.html" . }}
    <div class="my-4">
      {{ $pages := .Pages }}
      {{/* If .FirstSection is different than the current page, then we are un a series */}}
      {{ if ne .FirstSection $ }}
        {{ $pages = $pages.Reverse }}
      {{ end }}
      {{ range $page := $pages }}
        <div class="container mt-16 mb-16">
          {{ with .Pages }}
            {{ partial "series-header.html" (dict "location" "list" "Page" $page) }}
          {{ else }}
            {{ partial "article-header.html" (dict "location" "list" "Page" .) }}
          {{ end }}
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}