{{ define "main" }}
  <div class="container">
    {{ partial "page-header.html" . }}
    <div class="mb-16">
      <div class="inline-flex">
        <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 py-2 px-4 rounded mr-2 text-lg">
          For Developers
        </button>
        <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 py-2 px-4 rounded mr-2 text-lg">
          For Site Owners
        </button>
      </div>
    </div>

    {{ range .Pages }}
      <div class="mb-16">
        {{ partial "article-header.html" . }}
      </div>
    {{ end }}
  </div>
{{ end }}