{{/* Sections will hold each genres which matches a getter function
  Genres -> partials/func/getters/GetGenres
  Events -> partials/func/getters/GetEvents
*/}}
{{ $sections := slice 
  "Genres"
  "Reviews"
  "Books"
  "Venues"
  "Events"
  "Series"
  "Taxonomies"
  "Posts"
  "Pages"
  "Singletons"
}}

{{ $entries := slice }}
{{/* This set to true is used to limit the types to get */}}
{{ if true }}
  {{/* Use this to limit the gen/export scripts to limited sections */}}
  {{ $sections = last 1 $sections }}
{{ end }}

{{ range $section := $sections }}
  {{ $func := print "Get" $section }}
  {{ with partial (printf "func/getters/%s" $func) $func }}
    {{ range . }}
      {{ $entries = $entries | append . }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $entries }}