{{ define "main" }}
<div class="container">
	{{ partial "page-header.html" . }}
	<div class="my-4">
		<h2 class="max-w-2xl mx-auto my-16 italic text-center">
			<a href="/contact/" class="text-gray-500">Get in Touch</a>
			for Enterprise Pricing or Nonprofit Discounts
		</h2>
		<div class="w-full mt-12 mb-32">{{ partial "plans" . }}</div>
	</div>

	<div class="max-w-2xl mx-auto mb-32 text-sm italic text-center text-gray-700 rich-text">
		{{ .Params.disclaimer | markdownify }}
	</div>
</div>
{{ end }}
