<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default "en" }}" class="no-js">
  <head>
    {{ partial "head/meta.html" . }}
    {{ partialCached "head/fonts.html" . }}
    {{ partial "huge/styles/tags" (slice "fonts" "main") }}
    {{ partial "head/scripts" . }}
  </head>
  <body class="{{ partial "func/GetCSSTheme" . }}">
    <div class="page-container">
      {{ partial "header.html" . }}
      {{ block "main" . }}
      {{ end }}
    </div>
    {{ if ne .Layout "minimal" }}
      {{ partial "footer.html" . }}
    {{ end }}
  </body>
</html>