<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default "en" }}" class="no-js">
  <head>
    {{ partial "head/meta.html" . }}
    {{ partialCached "head/fonts.html" . }}
    {{ partial "huge/styles/tags" (slice 
      "fonts" 
      (dict 
        "name" "main"
        "fingerprint" (partial "config/fingerprint-minify" "context")
        "minify" (partial "config/fingerprint-minify" "context")
      )
    ) }}
    {{ partial "head/scripts" . }}
  </head>
  <body class="{{ partial "func/GetCSSTheme" . }} TKbg-tnd-50 bg-white">
    <div class="flex flex-col justify-between h-full md:pr-96">
      <div>
        <div class="md:w-96 md:fixed md:right-0 md:top-0 md:h-full">
          {{ partial "sidebar" . }}
        </div>
        <div class="page-container">
          {{ partial "header.html" . }}
          {{ block "main" . }}
          {{ end }}
        </div>
      </div>
      {{ if ne .Layout "minimal" }}
        {{ partial "footer.html" . }}
      {{ end }}
    </div>
  </body>
</html>