{{ define "main" }}
  <div class="container">
    {{ partial "page-header.html" . }}
    <div class="grid-cols-2 gap-4 md:grid">
      <div>
        <h2 class="text-3xl font-black md:text-4xl">{{ i18n "our_offices" }}</h2>
        <div class="my-4">
          {{ range site.Params.addresses }}
            <div class="my-4">
              {{ . }}
            </div>
          {{ end }}
        </div>
        <a href="https://calendly.com/budparr/30min" class="inline-block px-4 py-2 my-8 text-2xl text-white no-underline lowercase rounded bg-primary-500 hover:bg-primary-400">
          {{ i18n "book_apt" }}
        </a>
      </div>
      <div class="text-sm">
        <h2 class="text-3xl font-black md:text-4xl">{{ i18n "online_presence" }}</h2>
        <div class="my-4 socials">
          {{ partial "tnd-socials/follow.html" . }}
        </div>
        <div class="my-8">
          {{ partial "tnd-forms/form" (print "contact-" .Language) }}
        </div>
      </div>
    </div>
  </div>
{{ end }}