{{ define "main" }}
  <div class="grid grid-cols-2 grid-gap-4" style="width:calc(1200px - 1rem)">
  {{ range resources.Match "/uploads/*" }}
    {{ $image := dict "original" .RelPermalink}}
    {{ if eq .MediaType.MainType "image" }}
      {{ $args := dict "path" .RelPermalink "width" 600 }}
      {{ with partialCached "huge/media/Get" $args $args }}
        {{ $image = merge $image (dict "transformed" .RelPermalink) }}
      {{ end }}
      <div>
        <div class="text-xl">Original {{ .Width }}</div>
        <img src="{{ $image.original }}" alt="">
      </div>
      <div>
        <div class="text-xl">Transformed</div>
        <img src="{{ $image.transformed }}" alt="">
      </div>
    {{ end }}
    
  {{ end }}
</div>
{{ end }}