{{ define "main" }}
  <div class="container pt-10">
    <h1 class="text-5xl font-normal mb-16">{{.Title}}</h1>

      <div class="mb-16">
        <div class="inline-flex">
          <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 py-2 px-4 rounded mr-2 text-lg">
            For Developers
          </button>
          <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 py-2 px-4 rounded mr-2 text-lg">
            For Site Owners
          </button>
        </div>
      </div>


    {{ range .Pages }}
      <div class="mb-16">
        {{ .Render "head" }}
        {{/*  <div class="my-4">
          {{ .Summary }}
        </div>  */}}
      </div>
    {{ end }}
  </div>
{{ end }}