{{ define "main" }}
  <div class="container">
    {{ partial "page-header.html" . }} 
    <div class="my-4">
      <div class="max-w-5xl text-gray-700 rich-text">
        {{ .Content }}
        {{/* TODO: Move prototype to a block or whatever appropriate */}}
        {{ if .Params.show_events }}                  
          {{ with site.Taxonomies.categories.events }}                
            <h3>A Selection of Past Events </h3>
            {{ range .  }} 
              <div class="container mt-32 mb-32 text-gray-900">          
                {{ partial "article-header.html" (dict "location" "list" "Page" .) }}
              </div>
            {{ end }}    
          {{ end }}
          {{ end }}
      </div>
      {{ with .Params.blocks }}
        <div class="my-32">
          {{ range . }}
            {{ partial "tnd-blocks/block.html" (dict "block" . "Page" $) }}
          {{ end }}
        </div>
      {{ end }}
        {{ with .Params.form }}
          {{ $support := eq . "support" }}
          <div 
          {{ if $support }}
            x-data="formData()"
          {{ end }}
          class="max-w-lg mx-auto my-32">
            {{ partial "tnd-forms/form" (print . "-" $.Language) }}
          </div>
          {{ if $support }}
          <script>
            function formData() {
              return {
                website: new URLSearchParams(window.location.search).get('website')
              }
            }
          </script>
          {{ end }}
      {{ end }}
    </div>
  </div>
{{ end }}