{{ define "main" }}
  <div class="container">
    {{ partial "page-header.html" . }} 
    <div class="my-4">
      {{ with .Params.description }}
        {{ partial "page-intro" ($.RenderString .) }}
      {{ end }}
      <div class="max-w-5xl text-3xl text-gray-700 rich-text">
        {{ .Content }}
      </div>
      {{ with .Params.blocks }}
        <div class="my-32">
          {{ range . }}
          {{ partial "tnd-blocks/block.html" (dict "block" . "Page" $) }}
        {{ end }}
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}