{{ define "main" }}

    {{ partial "page-top.html" .}}

    {{ if .Params.pricing }}
      <div class="db w-100 dt-nsTK flex-ns mt5 v-top b--primary-color">

          {{ partial "pricing" .}}

      </div>
    {{ end }}

    <div class="lh-copy tc pv2">
      {{ .Params.afterForm | markdownify }}
    </div>


    <div class="pv4">
      <h2 class="f2 primary-color">
        Frequently Asked Questions
      </h2>
      {{ partial "faqs" .}}
    </div>

    <div id="find-out-more" class="mw-100 tc center">
      <a class=" link dib mv4 bg-primary-color pv2 ph3 link hover-bg-black white br2" href="/contact/">Thanks for reading. Click here to Get in touch.</a>

    </div>

  </main> <!-- closed from partial page-top -->

{{ end }}
