.dark-primary-color {background-color: var(--dark-primary-color)}
.primary-color { color: #9E9595;}

.hoefler {font-family: "Hoefler Titling A", "Hoefler Titling B"}
.verlag {font-family: "Verlag A", "Verlag B"}
.gotham {font-family: "Gotham Narrow SSm A", "Gotham Narrow SSm B";}

:root {
  --blue:  #183F63;
  --light-blue:  #96ccff;
}
