/* 
  Imports go to the top
  https://tailwindcss.com/docs/using-with-preprocessors/#build-time-imports 
*/

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

:root {
  font-size: 14px;
}
@screen md {
  :root {
    font-size: 18px;
  }
}

@variants hover {
  .text-gradient {
    /* standard gradient background */
    background: linear-gradient(
      to top right,
      rgb(51, 12, 91),
      rgb(226, 55, 46)
    );

    /* clip hackery */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .bg-gradient {
    background: linear-gradient(
      to top right,
      rgb(51, 12, 91),
      rgb(229, 56, 48)
    );
  }
  .bg-gradient-horizontal {
    background: linear-gradient(to right, rgb(51, 12, 91), rgb(229, 56, 48));
  }
}

body {
  @apply font-sans text-gray-800 bg-notwhite-500;
}
