/* 
  Imports go to the top
  https://tailwindcss.com/docs/using-with-preprocessors/#build-time-imports 
*/

/* purgecss start ignore */
@import "tailwindcss/base";

@import "tailwindcss/components";

/* purgecss end ignore */

@import "tailwindcss/utilities";

@import "themes/default.css";
@import "themes/alt.css";
@import "patterns.css";

/* STICKY FOOTER */
html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

.page-container {
	flex: 1 0 auto;
}

.footer {
	flex-shrink: 0;
}

/* ALPINE JS CLASS */
[x-cloak] {
	display: none;
}

/* A11y https://a11yproject.com/posts/how-to-hide-content/ */
.clip {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	white-space: nowrap; /* added line */
}

/* Fancy Blockquotes */
.rich-text blockquote {
	background-image: radial-gradient(#cc6554 0.5px, transparent 0.5px),
		radial-gradient(#cc6554 0.5px, transparent 0.5px);
	background-size: calc(20 * 0.5px) calc(20 * 0.5px);
	background-position: 0 0, calc(10 * 0.5px) calc(10 * 0.5px);
}

@screen lg {
	.rich-text blockquote:nth-of-type(3n + 1) {
		margin-left: -200px;
		margin-right: 200px;
	}

	.rich-text blockquote:nth-of-type(4n + 3) {
		margin-left: 200px;
		margin-right: -200px;
	}
}
/* END Fancy Blockquotes */

:root {
	font-size: 14px;
	--headerHeight: 68px;
}
@screen md {
	:root {
		font-size: 16px;
		--headerHeight: 78px;
	}
}
@variants hover {
	.text-gradient {
		/* standard gradient background */
		background: linear-gradient(
			to top right,
			rgb(51, 12, 91),
			rgb(226, 55, 46)
		);

		/* clip hackery */
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.bg-gradient {
		background: linear-gradient(
			52deg,
			#410252 0%,
			#63004c 16%,
			#810045 33%,
			#9f003e 50%,
			#bc0435 66%,
			#da0c2b 83%,
			#f8141d 100%
		);
	}
	.bg-gradient-horizontal {
		background: linear-gradient(to right, rgb(51, 12, 91), rgb(229, 56, 48));
	}
}

.hero {
	padding-top: var(--headerHeight);
}
.socials a {
	display: inline-block;
	width: 3rem;
}
.socials svg {
	width: 100%;
}

.canvas {
	border-radius: 50%;
	width: 350px;
	height: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.canvas svg {
	width: 60%;
	margin: 0 auto;
	fill: white;
}

.tnd-statement:nth-child(odd) .tnd-statement__title {
	@apply order-1 pr-6;
}
.tnd-statement:nth-child(odd) .tnd-statement__intro {
	@apply order-2;
}
.tnd-statement:nth-child(even) .tnd-statement__title {
	@apply order-2 pl-6;
}
.tnd-statement:nth-child(even) .tnd-statement__intro {
	@apply order-1;
}

@screen -sm {
	.mobile-nav {
		position: absolute;
		z-index: -1;
		opacity: 0;
		top: 0;
		left: 0;
		transition: top 200ms ease-in-out, opacity 200ms ease-in-out;
	}
	.mobile-nav.active {
		top: 100%;
		opacity: 1;
		z-index: 0;
	}
}
