<div class="grid-cols-2 gap-8 sm:grid">
	<div class="pattern-dots-md">
	<div class="flex flex-col justify-center h-64 mb-2 font-serif text-2xl font-light leading-tight text-white transform -translate-x-5 -translate-y-5 rounded bg-barossa-400">
		<div class="py-8 pl-12 pr-8 text-3xl">
			<span class="inline-block pr-1 -ml-6 font-serif text-5xl">“</span>{{ .Description | default .Summary | truncate 100 }}
		</div>
	</div>
</div>
	<div>
		<h2 class="mb-4 text-5xl font-bold leading-tight">
			<a href="{{ .RelPermalink }}" class="color-inherit text-shadow-lg">
				{{ .Title }}
			</a>
		</h2>
		<time class="opacity-75 color-inherit" datetime="{{ .Date }}">
			{{ dateFormat "Published January 2, 2006" .Date }}
		</time>
		{{ if ne .Lastmod .Date }}
			<div class="my-2 text-sm opacity-75 color-inherit">
				{{ $format := cond (eq (.Date.Format "2006") (.Lastmod.Format "2006") ) "January 2" "January 2, 2006" }}
			<time datetime="{{ .Lastmod }}">
				Updated {{ .Lastmod.Format $format }}
			</time>
		</div>
		{{ end }} 
		{{ with .ReadingTime }}
		<small class="block opacity-75 color-inherit">{{ . }} {{ i18n "minutes_read" . }}</small>
		{{ end }}
	</div>
</div>

