{{ if .Params.faqs }}
  {{ $.Scratch.Add "classBox" "mv5 pb1 center w-100" }}
    {{ $.Scratch.Add "classBoxInner" "w-100" }}
    {{ $.Scratch.Add "classHeading" "lh-title black f3 mb2 v-base" }}
    {{ $.Scratch.Add "classCopy" "bg-white f4 shadow-5 pa4 relative" }}
    {{ $.Scratch.Add "classBoxGraphic" "absolute top-0 left-0 h2 nl2 nt2" }}

    {{ $.Scratch.Add "classTagline" "b black w-25-ns v-mid pl4 pr5 primary-color" }}
    {{ $.Scratch.Add "classTaglineMobile" "dn-ns b black w-100 mt4 primary-color" }}

    {{ range .Params.faqs }}
      {{ $.Scratch.Add "i" 1 }}
      {{ $i := $.Scratch.Get "i" }}
      {{ if modBool $i 20 }}
        <div class="{{ $.Scratch.Get "classBox" }}">
          <div class="dn {{ $.Scratch.Get "classTagline" }}">
            {{.tagline}}
          </div>
          <div class="{{ $.Scratch.Get "classBoxInner" }} pl3-ns">
            <h3 class="{{ $.Scratch.Get "classHeading" }}">
              {{ .heading }}
            </h3>
            <div class="dn-ns {{ $.Scratch.Get "classTaglineMobile" }}">
              {{.tagline}}
            </div>
            <p class="{{ $.Scratch.Get "classCopy" }} relative">
              <img src="/images/check-blue.svg" alt="" class="{{ $.Scratch.Get "classBoxGraphic" }}">  {{ .copy }}
            </p>
          </div>
        </div>

    {{ else }}

      <div class="{{ $.Scratch.Get "classBox" }}">

        <div class="{{ $.Scratch.Get "classBoxInner" }} pr3-ns">
          <h3 class="{{ $.Scratch.Get "classHeading" }}">
            {{ .heading }}
          </h3>
          <div class="dn-ns {{ $.Scratch.Get "classTaglineMobile" }}">
            {{.tagline}}
          </div>
          <p class="{{ $.Scratch.Get "classCopy" }} relative">
            <img src="/images/check-blue.svg" alt="" class="{{ $.Scratch.Get "classBoxGraphic" }}"> {{ .copy }}
          </p>
        </div>

        <div class="dn {{ $.Scratch.Get "classTagline" }}">
          {{.tagline}}
        </div>

      </div>
    {{ end }}

  {{ end }}

{{ end }}
