<div class="bg-gray-100 border-t border-gray-200 text-tnd-50 footer print:hidden">
  <div class="container px-12 py-12 mx-auto lg:py-16">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="col-span-2 text-tnd-100">
        <p class="text-2xl font-bold">
          {{ i18n "statement_title" | safeHTML }}
        </p>
        {{ with site.GetPage "about" }}
          {{ with .Params.description }}
          <p class="max-w-lg mt-4 mb-16 text-sm">
            {{ . }}
          </p>
          {{ end }}
        {{ end }}

      </div>
      <div class="mt-8 xl:mt-0">
        {{ partial "newsletter-form" . }}
      </div>
    </div>
    <div class="pt-8 mt-8 border-t border-gray-200 md:flex md:items-center md:justify-between">
      <div class="flex md:order-2">
        {{ $services := slice "twitter" "github" }}
        {{ range partialCached "tnd-socials/GetSocials" $services $services }}
        <a href="{{ .URL }}" class="ml-6 text-white hover:text-gray-300">
          <span class="sr-only">{{ .Name }}</span>
          <span class="inline-block w-6 fill-current">
            {{ .SVG | safeHTML }}
          </span>
        </a>
        {{ end }}
      </div>
      <p class="mt-8 text-base leading-6 text-gray-300 md:mt-0 md:order-1">
        &copy; {{ now.Format "2006" }}
        <a class="px-3 py-2 no-underline hover:text-gray-100 color-inherit" href="{{ site.Home.RelPermalink }}">
          {{ .Site.Title }}
        </a>
        &bull; {{ with site.GetPage "/info/privacy-policy" }}
        <a class="px-3 py-2 text-xs no-underline hover:text-gray-100 color-inherit" href="{{ .RelPermalink }}">
          {{ .Title }}
        </a>
        {{ end }}

        &bull; {{ with site.GetPage "/info/cookie-policy" }}
        <a class="px-3 py-2 text-xs no-underline hover:text-gray-100 color-inherit" href="{{ .RelPermalink }}">
          {{ .Title }}
        </a>
        {{ end }}
        &bull; {{ with site.GetPage "/info/terms-of-service" }}
        <a class="px-3 py-2 text-xs no-underline hover:text-gray-100 color-inherit" href="{{ .RelPermalink }}">
          Terms of Service
        </a>
        {{ end }}

       
&bull; 
        <a class="px-3 py-2 text-xs no-underline hover:text-gray-100 color-inherit"
          href="https://thenewdynamic.com">
          {{ i18n "site_by" }} the New Dynamic
        </a>
      </p>
    </div>
  </div>
</div>