<header class="my-6 flex items-center">
  <div class="container flex items-center justify-between">
    <a href="{{ site.Home.RelPermalink }}" class="flex items-center">
      <div class="w-6 md:w-12">{{ partial "svg/logo.svg" . }}</div>
      <div class="text-lg md:text-xl ml-3">
        The New Dynamic
      </div>
    </a>
    <div class="md:hidden flex flex-col justify-between">
      <div class="bg-gradient-horizontal h-1 w-10"></div>
      <div class="bg-gradient-horizontal h-1 w-10 my-1 ml-1"></div>
      <div class="bg-gradient-horizontal h-1 w-10"></div>
    </div>
    <nav class="hidden md:block text-lg flex items-center">
      {{ range site.Menus.main }}
        {{ if eq "contact" .Page.File.BaseFileName }}
          <a class="bg-black dark:bg-white text-white hover:bg-gradient pl-4 pr-3 pb-1 rounded inline-block lowercase" href="{{ .URL }}">{{ .Name }}</a>
        {{ else }}
          <a class="hover:text-gradient inline-block px-3 pb-1 rounded lowercase" href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
      {{ end }}
    </nav>
  </div>
</header>