<header class="z-50 relative flex items-center w-full py-6 xl:pr-32">
  <div class="container flex items-center justify-between">
    
    <a href="{{ site.Home.RelPermalink }}" class="flex items-center">
      <div class="w-6 md:w-8">{{ partial "svg/logo-compressed.svg" . }}</div>
      <div class="ml-3 text-xl text-black lg:text-xl md:text-xl">
        The New Dynamic
      </div>
    </a>

    <div class="flex flex-col justify-between lg:hidden">
      <div class="w-10 h-1 bg-gradient-horizontal"></div>
      <div class="w-10 h-1 my-1 ml-1 bg-gradient-horizontal"></div>
      <div class="w-10 h-1 bg-gradient-horizontal"></div>
    </div>
    
    <nav class="flex items-center hidden text-lg lg:block">
      {{ range site.Menus.main }}
        <a class="inline-block px-3 pb-1 text-base lowercase rounded hover:text-theme-gradient" href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}
      <div class="inline-block">
        {{ partial "modal.html" . }}
      </div>
      <div class="inline-block">
        {{ partial "lang-switch" . }}
      </div>
    </nav>

  </div>
</header>
