<div class="level-1 w-100 w-75-m w-50-ns flex-ns flex-column justify-between bg-near-white baTK b--light-gray">
  <div class="level-2 pt4 pb3 ph5 mid-gray">
    <h2 class="level-1-heading brand-font f1 f2-m f1-l mb0">
      {{ .heading }}
    </h2>
    <div class="level-1-para f4 f5-m f4-l gray ph2 ph3-ns pv5 lh-copy">
      {{ .copy | markdownify }}
    </div>
  </div>

  <div class="level-3 flex-ns flex-wrap">
    <div class="level-3a w-100 w-25-m w-50-ns pv4 ph5 lh-copy bg-gold">
      <h3 class="mb1">The old model</h3>
      {{ .old_model }}
    </div>
    <div class="level-3b w-100 w-50-ns pv4 ph5 lg-copy bg-light-blue">
      <h3 class="mb1">The new model</h3>
      {{ .new_model }}
    </div>
  </div>

</div>
