
{{ with partial "func/GetLangItems" . }}
<div x-data="{ active: false }" @click="active = !active" class="top-0 w-20 m-4 bg-gray-100 rounded right-2 xl:absolute">
  <div class="flex items-center justify-between px-2 py-2 text-sm uppercase border border-gray-200 rounded shadow hover:shadow-none">
    {{ partial "svg/globe.svg" $ }} {{ site.Language.Lang }} {{ partial "svg/chevron-down.svg" $ }}
  </div>
  <div x-show="active">
    {{ range . }}
      <a href="{{ .permalink }}" class="block py-2 pl-2 pr-6 text-sm rounded rounded-t-none hover:bg-gray-300">
        {{ .label }}
      </a>
    {{ end }}
  </div>
</div>
{{ end }}
