
{{ with partial "func/GetLangItems" . }}
<div x-data="{ active: false }" @click="active = !active" class="print:hidden relative top-0 right-0 w-20 m-4 rounded TKbg-gray-100 lg:order-3">
  <div class="flex items-center justify-between px-2 py-2 text-sm uppercase rounded shadow hover:text-white hover:bg-black hover:shadow-none">
    <span class="w-4 fill-black">{{ partial "tnd-icons/icon" "globe" }}</span> {{ site.Language.Lang }} {{ partial "svg/chevron-down.svg" $ }}
  </div>
  <div x-show="active"
  	x-transition:enter="transition ease-out duration-75"
		x-transition:enter-start="opacity-0"
		x-transition:enter-end="opacity-100"
		x-transition:leave="transition ease-out duration-75"
		x-transition:leave-start="opacity-100"
		x-transition:leave-end="opacity-0">
    {{ range . }}
      <a href="{{ .permalink }}" class="absolute z-30 block max-w-full py-2 pl-2 pr-6 bg-gray-200 rounded rounded-t-none hover:text-white hover:bg-black" style="top:95%">
        {{ .label }}
      </a>
    {{ end }}
  </div>
</div>
{{ end }}
