
{{ with partial "func/GetLangItems" . }}
<div x-data="{ active: false }" @click="active = !active" class="relative top-0 right-0 w-24 m-4 bg-gray-100 rounded lg:order-3">
  <div class="flex items-center justify-between px-2 py-2 text-sm uppercase rounded shadow hover:bg-gray-200 hover:shadow-none">
    {{ partial "svg/globe.svg" $ }} {{ site.Language.Lang }} {{ partial "svg/chevron-down.svg" $ }}
  </div>
  <div x-show="active"
  	x-transition:enter="transition ease-out duration-200"
		x-transition:enter-start="opacity-0"
		x-transition:enter-end="opacity-100"
		x-transition:leave="transition ease-out duration-75"
		x-transition:leave-start="opacity-100"
		x-transition:leave-end="opacity-0">
    {{ range . }}
      <a href="{{ .permalink }}" class="absolute block max-w-full py-2 pl-2 pr-6 bg-gray-200 rounded rounded-t-none hover:bg-gray-100" style="top:83%">
        {{ .label }}
      </a>
    {{ end }}
  </div>
</div>
{{ end }}
