<div class="bg-gray-100">
    <div class="pt-12 sm:pt-16 lg:pt-20">
      <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="text-center">
          <h2 class="text-3xl leading-9 font-extrabold text-gray-900 sm:text-4xl sm:leading-10 lg:text-5xl lg:leading-none">
            No-guess pricing
          </h2>
          <p class="mt-4 md:px-32 text-xl leading-7 text-gray-500">
            For organizations who choose our Agile Pricing Model, these are prices for ongoing management of your site. Scale up or down for your needs
          </p>
        </div>
      </div>
    </div>
    <div class="mt-8 bg-white pb-16 sm:mt-12 sm:pb-20 lg:pb-28">
      <div class="relative">
        <div class="absolute inset-0 h-1/2 bg-gray-100"></div>
        <div class="relative max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="max-w-lg mx-auto rounded-lg shadow-lg overflow-hidden lg:max-w-none lg:flex">
            <div class="bg-white px-6 py-8 lg:flex-shrink-1 lg:p-12">
              <h3 class="text-2xl leading-8 font-extrabold text-gray-900 sm:text-3xl sm:leading-9">
                Starter
              </h3>
              <p class="mt-6 text-base leading-6 text-gray-500">
                Lorem ipsum dolor sit amet consect etur adipisicing elit. Itaque amet indis perferendis blanditiis repellendus etur quidem assumenda.
              </p>
              <div class="mt-8">
                <div class="flex items-center">
                  <h4 class="flex-shrink-0 pr-4 bg-white text-sm leading-5 tracking-wider font-semibold uppercase text-indigo-600">
                    What's included
                  </h4>
                  <div class="flex-1 border-t-2 border-gray-200"></div>
                </div>
                <ul class="mt-8 lg:grid lg:grid-cols-2 lg:col-gap-8 lg:row-gap-5">
                  <li class="flex items-start lg:col-span-1">
                    <div class="flex-shrink-0">
                      <svg class="h-5 w-5 text-green-400" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
                      </svg>
                    </div>
                    <p class="ml-3 text-sm leading-5 text-gray-700">
                      Private forum access
                    </p>
                  </li>
                  <li class="mt-5 flex items-start lg:col-span-1 lg:mt-0">
                    <div class="flex-shrink-0">
                      <svg class="h-5 w-5 text-green-400" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
                      </svg>
                    </div>
                    <p class="ml-3 text-sm leading-5 text-gray-700">
                      Member resources
                    </p>
                  </li>
                  <li class="mt-5 flex items-start lg:col-span-1 lg:mt-0">
                    <div class="flex-shrink-0">
                      <svg class="h-5 w-5 text-green-400" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
                      </svg>
                    </div>
                    <p class="ml-3 text-sm leading-5 text-gray-700">
                      Entry to annual conference
                    </p>
                  </li>
                  <li class="mt-5 flex items-start lg:col-span-1 lg:mt-0">
                    <div class="flex-shrink-0">
                      <svg class="h-5 w-5 text-green-400" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
                      </svg>
                    </div>
                    <p class="ml-3 text-sm leading-5 text-gray-700">
                      Official member t-shirt
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="py-8 px-6 text-center bg-gray-50 lg:flex-shrink-0 lg:flex lg:flex-col lg:justify-center lg:p-12">
              <p class="text-lg leading-6 font-medium text-gray-900">
                Your Dedicated Web Team
              </p>
              <div class="mt-4 flex items-center justify-center text-5xl leading-none font-extrabold text-gray-900">
                <span>
                  $6,500
                </span>
                <span class="ml-3 text-xl leading-7 font-medium text-gray-500">
                  /mo
                </span>
              </div>
              <p class="mt-4 text-sm leading-5">
                <a href="#" class="font-medium text-gray-500 underline">
                  Learn about our membership policy
                </a>
              </p>
              <div class="mt-6">
                <div class="rounded-md shadow">
                  <a href="#" class="flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-gray-900 hover:bg-gray-800 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
                    Get Access
                  </a>
                </div>
              </div>
              <div class="mt-4 text-sm leading-5">
                <a href="#" class="font-medium text-gray-900">
                  Get a free sample
                  <span class="font-normal text-gray-500">
                    (20MB)
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>