{{ range .Params.pricing }}
  <div class="dtc-nsf  w-100 v-top bt mb3 ba mr1 grow bg-white  b--primary-color w-33-ns ">

    <div class="db dtc-nsTK v-mid">

      <div class="tc">
        <h3 class="black">
          {{ .heading }}
        </h3>
        {{ if .copy}}
          <p class="lh-copy">
            {{ .copy }}
          </p>
        {{ end }}
        <div class="f3 dark-gray lh-copy">
          <sup class="f6">$</sup>{{ .price }}<sub class="f6">/month</sub>
        </div>

        <div class="gray f4 dn">
          {{ .price_qualifier }}
        </div>
      </div>

      {{ if .features }}
        <ul class="ma0 ph4 pv3">
          {{ range .features }}
            <li class="list tl mb2 f6">
              {{ . | markdownify }}
            </li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
  </div>
  {{ end }}
