{{ define "nav" }}
  <!-- empty -->
{{ end }}
{{ define "hero" }}
     {{ partial "hero" . }}
{{ end }}

{{ define "main" }}
  <main class="cf pa5 pa4-l f4 tc center measure-wide lh-copy black">
    {{ .Content }}
  </main>
  <!--
    TODO: Make these flow evenly on mobile (copy/image copy/image)
  -->
  {{ if .Params.boxes }}

    <div id="how-we-work" class="flex-ns flex-wrap center tc mb6">
      {{ range .Params.boxes }}
        {{ $.Scratch.Add "i" 1 }}
        {{ $i := $.Scratch.Get "i" }}

        {{ if modBool $i 2 }}
          {{ partial "home-page-boxes-image" . }}
          {{ partial "home-page-boxes" . }}
        {{ else }}
        {{ partial "home-page-boxes" . }}
        {{ partial "home-page-boxes-image" . }}

        {{ end }}

      {{ end }}
    </div>
  {{ end }} <!-- END if params.boxes -->

  <div id="find-out-more" class="w-75 tc center">
    {{ partial "form-getting-started.html" .}}
  </div>

{{ end }}
