<div class="bg-center bg-no-repeat bg-cover hero bg-theme bg-gradient-tr-primary text-theme bg-map">
  <div class="max-w-3xl pt-0 pb-12 mx-auto md:pt-8 md:pb-32">
    <div class="flex items-center">
      <div class="container">
        <div class="mb-6 text-4xl font-black leading-tight text-center md:mb-12 md:text-6xl">
          {{ i18n "home_hero_title" }}
        </div>
        <div class="text-3xl font-bold text-center text-gray-200">
          <a href="/article/hyper-local-websites/" class="no-underline hover:text-gray-300">{{ i18n "home_hero_subtitle" }}</a>
          {{/*  <p>We Make <em>Better Faster</em> Websites</p>  */}}
        </div>
      </div>
    </div>
  </div>
  
</div>
