<div class="hero bg-theme text-theme">
  <div class="max-w-5xl mx-auto pt-8">
    <div class="bg-map bg-contain bg-no-repeat bg-center  flex items-center">
      <div class="container">
        <div class="font-black text-center text-3xl mb-16 md:text-6xl leading-tight mb-4 px-16 pt-8">
          Give Your Website A Global Reach
        </div>
        <div class="text-theme-primary text-3xl text-center font-bold  pb-32">
          <p>Welcome to The New Dynamic</p>
          {{/*  <p>We Make <em>Better Faster</em> Websites</p>  */}}
        </div>
      </div>
    </div>
  </div>
  
</div>
