<div class="hero bg-theme text-theme">
  <div class="max-w-5xl mx-auto">
    <div class="p-6 md:p-12 bg-map bg-contain bg-no-repeat bg-center bg-grey-300 py-16  md:py-0 md:min-h-80v flex items-center">
      <div class="container">
        <div class="font-bold text-center text-3xl mb-16 md:text-5xl leading-tight mb-4">
          Give Your Website A Global Reach
        </div>
        <div class="text-theme-primary text-3xl text-center font-bold">
          <p>Welcome to The New Dynamic</p>
          {{/*  <p>We Make <em>Better Faster</em> Websites</p>  */}}
        </div>
      </div>
    </div>
  </div>
  
</div>
