{{ $script := dict }}
{{ $netlify_script_bundle := slice }}
{{ with partialCached "func/GetStyleAssets" . "GetStyleAssets" }}
  {{ with where . "type" "link" }}
    {{ with $style := index . 0 }}
      {{ $netlifycms_style := printf `import React from "react"; CMS.registerPreviewStyle("%s");` $style.beforeProcess.Permalink | resources.FromString "style_netlifycms.jsx" }}
      {{ $netlify_script_bundle = $netlify_script_bundle | append $netlifycms_style }}
    {{ end }}
  {{ end }}
{{ end }}
{{ with resources.Match "netlifycms/**/*.jsx" }}
  {{ $netlifycms_script := resources.Concat "script_netlifycms.jsx" . }}
  {{ $netlify_script_bundle = $netlify_script_bundle | append $netlifycms_script }}
{{ end }}
{{ with $netlify_script_bundle }}
  {{ $defines := dict "process.env.NODE_ENV" `"development"` }}
  {{ $script = resources.Concat "netlifycms.jsx" . }}
  {{ $script = $script | js.Build (dict "defines" $defines) }}
  {{ if partial "func/IsProduction" . }}
    {{ $script = $script | fingerprint }}
  {{ end }}
{{ end }}

{{ return  $script }}