{{ $script := dict }}
{{ $netlify_script_bundle := slice }}
{{ $netlify_start := ` 
import React from "react";
fetch("/")
  .then(response => response.text())
  .then(html => {
    const f = document.createElement("html");
    f.innerHTML = html;
    Array.from(f.getElementsByTagName("link")).forEach(tag => {
      if (tag.rel == "stylesheet" && !tag.media) {
        CMS.registerPreviewStyle(tag.href);
      }
    });
  });
` }}
{{ $netlifycms_style := $netlify_start | resources.FromString "style_netlifycms.jsx" }}
{{ $netlify_script_bundle = $netlify_script_bundle | append $netlifycms_style }}
{{ with resources.Match "netlifycms/**/*.jsx" }}
  {{ $netlifycms_script := resources.Concat "script_netlifycms.jsx" . }}
  {{ $netlify_script_bundle = $netlify_script_bundle | append $netlifycms_script }}
{{ end }}
{{ with $netlify_script_bundle }}
  {{ $defines := dict "process.env.NODE_ENV" `"development"` }}
  {{ $script = resources.Concat "netlifycms.jsx" . }}
  {{ $script = $script | js.Build (dict "defines" $defines) }}
  {{ if partialCached "huge/env/IsProduction" "IsProduction" }}
    {{ $script = $script | fingerprint }}
  {{ end }}
{{ end }}

{{ return  $script }}