{{/*
  GetSRC
  Retrieves a transformed image following a -- limited for now -- set of arguments.

  @author @regisphilibert

  @context String (.)

  @access public

  @return String

  @example - Go Template
  {{ $args := dict "src" . "width" 800 }}
  {{ $image := partialCached "func/GetSRC" $args $args }}
*/}}
{{ $src := false }}
{{ $args := dict }}
{{ $return := false }}
{{ $path := "relative" }}
{{ if reflect.IsMap $ }}
  {{ with .src }}
    {{ $src = . }}
    {{ range $key, $value := $ }}
      {{ if not (in (slice "src" "path") $key) }}
        {{ $args = $args | merge (dict $key $value) }}
      {{ else if eq $key "path" }}
        {{ if eq $value "absolute" }}
          {{ $path = "absolute" }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ else if not (reflect.IsSlice $) }}
  {{/* Context is a string, we use it as $src */}}
  {{ $src = $ }}
{{ end }}
{{ with $src }}
  {{ with $resource := resources.Get . }}
    {{ $width := .Width }}
    {{ range $key, $value := $args }}
      {{/* If argument is Width and desired with is small than original */}}
      {{ $width_param := $value }}
      {{ if lt $width $value }}
        {{ $width_param = $width }}
      {{ end }}
      {{ if eq $key "width" }}
        {{ $param := print $width_param "x" }}
        {{/* We apply the transformations */}}
        {{ with $resource.Resize $param }}
          {{ $resource = . }}
        {{ end }}
      {{ end }}
    {{ end }}
    {{ if eq $path "absolute" }}
      {{ $return = $resource.Permalink }}
    {{ else }}
      {{ $return = $resource.RelPermalink }}
    {{ end }}
  {{ end }}
{{ end }}
{{ return $return }}